header .row{
  display: flex;
  justify-content: space-between;
}

.right{
  background-color: #00ff00;
}


.wrong{
  background-color: #ff0000;
}

.nav-link a{
  display: block !important;
  width: 100% !important;
  
}
